<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>


    <!--<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


<div class="container">
    <h1>게시글 목록</h1>
    <div class="row">
        <div class="col-lg-8">
        </div>

        <div class="col-lg-4">
            <!-- 검색영역 -->
            <from class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control" name="search-text" type="text"/>
                    <button type="button" class="btn btn-primary" name="btn-search">검색</button>
                </div>
            </from>
        </div>

    </div>

    <!--데이터 테이블-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">제목</th>
            <th scope="col">생성일</th>
            <th scope="col">수정일</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter: ${postList}">
            <!--            <th scope="row"></th>-->
            <td th:text="${item.id}" th:name="'item_'+${iter.index +1}" id="item_id"></td>
            <a href="#">
                <td th:text="${item.title}" th:name="item_title"></td>
            </a>
            <td th:text="${item.createdAt}"></td>
            <td th:text="${item.updatedAt}"></td>
            <td>
                <span>
                <!-- 수정할 때는 get방식으로 화면을 호출함 -->
                <a th:href="@{'/post/edit/' + ${item.id}}"><button type="button" class="btn btn-primary"
                                                                   name="btn_modify">수정</button></a>
                    <!-- 삭제할 때는 javascript를 이용해서 ajax call을 함. 해당 유니크한 아이디는 attr 속성에 담아서 보낸다.-->
                <button type="button" class="btn btn-warning" name="btn_delete" th:attr="value=${item.id}">삭제</button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg--4">
            <div>
                <form th:action="@{/post/create}">
                    <button class="btn btn-primary" name="btn_register">글 작성 하기</button>
                </form>
            </div>
        </div>
    </div>


    <!--  페이지 이동 버튼  -->
    <div style="align-items: center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:each="number: ${#numbers.sequence(1, postList.totalPages ,1)}">
                    <a class="page-link" th:href="@{'/post?page=' + ${number -1}}" th:text="${number}"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    const user = /*[[${session.userName}]]*/ 'User Name';

    $('[name=btn_delete]').on('click', function () {
        const id = $(this).attr('value');

        $.ajax({
            url: '/post/delete/' + id,
            type: 'post',
            success: function (result) {
                location.reload();
            }
        });
    })

    $('[name=btn-search]').on('click', function () {
        const search = $('[name=search-text]').val();

        $.ajax({
            url: '/post/search?keyword=' + search,
            type: 'get',
            success: function (result) {
                location.href = '/post/search?keyword=' + search
            }
        })
    })

    $('[name=item_title]').on('click', function () {

        const id = $('#item_id').text();
        $.ajax({
            url: '/post/' + id,
            type: 'get',
            success: function (result) {
                location.href = '/post/' + id
            }
        })
    })

    /*]]>*/
</script>
</html>